<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782996771488-hplaarbd39faobft7m7blqgdvi5niumk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782996771488-hplaarbd39faobft7m7blqgdvi5niumk</string>
	<key>API_KEY</key>
	<string>AIzaSyBKVmvntXpevlpVKWnVM5h5HZlA33hMfNc</string>
	<key>GCM_SENDER_ID</key>
	<string>782996771488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.test</string>
	<key>PROJECT_ID</key>
	<string>test-7acd7</string>
	<key>STORAGE_BUCKET</key>
	<string>test-7acd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782996771488:ios:ef8250451f94c917632fc5</string>
</dict>
</plist>